// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension
&spi1 {
    compatible  =  "nordic,nrf-spim";
    status      =   "okay";
    pinctrl-0   =   <&spi1_default>;
    pinctrl-1   =   <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
};

&pinctrl {
    spi1_default_pins: spi1_default{
        group1{
            psels = <NRF_PSEL(SPIM_SCK, 0 , 13)>,
                    <NRF_PSEL(SPIM_MISO, 0, 14)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 15)>;
        };
    };

    spi1_sleep_pins: spi1_sleep{
        group1{
            psels = <NRF_PSEL(SPIM_SCK, 0 ,13)>,
                    <NRF_PSEL(SPIM_MISO, 0, 14)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 15)>;
        };
    };
};

&button0 {
    status = "disabled";
};

&button1 {
    status = "disabled";
};

&button2 {
    status = "disabled";
};

&button3 {
    status = "disabled";
};

&pwm0 {
    status = "disabled";
};

&led0 {
    status = "disabled";
};

&led1 {
    status = "disabled";
};

/ {
    aliases {
		ads-cs = &ads1299_cs_node;
		ads-drdy = &ads1299_drdy_node;
		ads-reset = &ads1299_reset_node;
	};

	ads1299_cs_node: ads1299_cs {
        compatible = "gpio-leds";
		gpios = <&gpio0 16 0>;
	};

	ads1299_drdy_node: ads1299_drdy {
        compatible = "gpio-keys";
		gpios = <&gpio0 17 0>;
	};

	ads1299_reset_node: ads1299_reset {
        compatible = "gpio-leds";
		gpios = <&gpio0 18 0>;
	};
    
};  
