&spi0 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    

    ads1299: ads1299@0 {
        compatible = "ti,ads1299";
        reg = <0>;
        spi-max-frequency = <1000000>;
        label = "ADS1299";

        cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
        drdy-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
        status = "okay";
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 22)>,
                    <NRF_PSEL(SPIM_MISO, 0, 24)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 23)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 13)>,
                    <NRF_PSEL(SPIM_MISO, 0, 14)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 15)>;
        };
    };
};

&spi1 {
    status = "disabled";
};

&spi2{
    status = "disabled";
};
&button0 {
    status = "disabled";
};

&button1 {
    status = "disabled";
};

&button2 {
    status = "disabled";
};

&button3 {
    status = "disabled";
};

&pwm0 {
    status = "disabled";
};

&led0 {
    status = "disabled";
};

&led1 {
    status = "disabled";
};

&i2c0 {
    status = "disabled";
};

/ {
    chosen {
        nordic_nus_uart = &uart0;
    };
};